[submodule "dgb"]
	path = dgb
	url = git://github.com/scor/dgb.git
[submodule ".drush/dgb"]
	path = .drush/dgb
	url = git://github.com/scor/dgb.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:Quilted/oh-my-zsh.git
